<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="base :: head"></head>
<body>
<div id="layout">
  <a th:replace="base :: sidebar-toggle"></a>
  <div th:replace="base :: sidebar"></div>
  <div id="main">
    <h2 th:replace="base :: content_title"></h2>
    <span th:if="${polls.isEmpty()}" class="error">
      <i class="fa fa-times-circle" aria-hidden="true"></i> No more polls to show!
    </span>
    <div th:if="${polls.size()} > 0" id="polls" class="pure-g">
      <div th:each="poll : ${polls}" class="pure-u-1 pure-u-sm-1 pure-u-md-1 pure-u-lg-1-2 pure-u-xl-1-3">
        <div th:switch="${poll.canUserVote(currentUser.id)}" class="poll">
          <h4 th:text="${poll.question}"></h4>
          <div th:case="false" class="poll-stats">
            <span th:if="not ${poll.isVotingExpired()}">
              <i class="fa fa-gavel" aria-hidden="true"></i> You've already voted!
            </span>
            <ul>
              <li><b th:text="${poll.stats[0]}"></b> users voted</li>
              <li><b th:text="${poll.stats[1]}"></b> say yes</li>
              <li><b th:text="${poll.stats[2]}"></b> say no</li>
              <li th:if="${poll.options} == 3"><b th:text="${poll.stats[3]}"></b> say maybe</li>
            </ul>
          </div>
          <form th:case="true" th:action="@{'/poll/vote/' + ${poll.id}}" th:id="${poll.id}"
                method="POST" class="poll-vote-form pure-form pure-form-stacked">
            <input type="hidden" name="page" th:value="${pageNumber}" value="0">
            <label th:for="${poll.id} + 'yes'" class="pure-radio">
              <input th:id="${poll.id} + 'yes'" type="radio" name="weight" value="1"> Yes
            </label>
            <label th:for="${poll.id} + 'no'" class="pure-radio">
              <input th:id="${poll.id} + 'no'" type="radio" name="weight" value="-1"> No
            </label>
            <label th:if="${poll.options} == 3"  th:for="${poll.id} + 'maybe'" class="pure-radio">
              <input th:id="${poll.id} + 'maybe'" type="radio" name="weight" value="0"> Maybe
            </label>
            <br/>
            <button type="submit" class="pure-button pure-button-primary">
              <i class="fa fa-bullhorn" aria-hidden="true"></i> Vote
            </button>
          </form>
        </div>
      </div>
    </div>
    <div th:if="not ${polls.isEmpty()}" class="pure-g">
      <div class="pure-u-1-3 text-right">
        <a th:if="${pageNumber} > 0" th:href="@{${requestURL} + '?p=' + ${pageNumber - 1}}"
           title="Previous page" class="prev">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </a>
      </div>
      <div th:if="${pageNumber} > 0" th:text="${pageNumber}" class="pure-u-1-3 text-center"></div>
      <div class="pure-u-1-3 text-left">
        <a th:if="${polls.size()} == 10" th:href="@{${requestURL} + '?p=' + ${pageNumber + 1}}"
           title="Next page" class="next">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>
</body>
</html>