<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="base :: head"></head>
<body>
<div id="layout">
  <a th:replace="base :: sidebar-toggle"></a>
  <div th:replace="base :: sidebar"></div>

  <div id="main">
    <h2 th:replace="base :: content_title"></h2>
    <form th:action="@{/poll/setup}" method="POST" id="setup-poll-form" class="pure-form pure-form-stacked">
      <fieldset>
        <span th:if="${errorMessage}" class="pure-form-message error">
          <i class="fa fa-times-circle" aria-hidden="true"></i>
          <span th:text="${errorMessage}"></span>
        </span>
        <br/>
        <label for="title">Candidate question</label>
        <textarea th:text="${candidateValue}" id="title"
                  name="candidate" placeholder="What do you want to find out?" rows="2"></textarea>
        <br/>
        <label>Available options</label>
        <label th:switch="${optionsValue}" for="yes-no-option">
          <input th:case="3" type="radio" id="yes-no-option" name="options" value="2">
          <input th:case="*" type="radio" id="yes-no-option" name="options" value="2" checked>
          Yes, No
        </label>
        <label th:switch="${optionsValue}" for="yes-no-maybe-option">
          <input th:case="3" type="radio" id="yes-no-maybe-option" name="options" value="3" checked>
          <input th:case="*" type="radio" id="yes-no-maybe-option" name="options" value="3">
          Yes, No, Maybe
        </label>
        <br/>
        <button type="submit" class="pure-button pure-button-primary">Create</button>
      </fieldset>
    </form>
  </div>
</div>
</body>
</html>