<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="base :: head"></head>
<body>
<div id="layout">
  <a th:replace="base :: sidebar-toggle"></a>
  <div th:replace="base :: sidebar"></div>
  <div id="main">
    <h2 class="content-subhead">Question</h2>
    <div th:if="${question}" id="question">
      <h3 th:if="${isQuestionNotFound}" class="error">
        <i class="fa fa-times-circle" aria-hidden="true"></i> Question not found!
      </h3>
      <h3 th:text="${question.title}"></h3>
      <p th:text="${question.description}"></p>
      <span th:text="${question.getCategoryString()}"></span>
      <div class="pure-g">
        <div th:if="${currentUser.id == question.owner.id}" class="pure-u-1-2 text-left">
          <a th:href="@{'/question/delete/' + ${question.id}}"
             class="pure-button pure-button-primary" onclick="return confirm('Are you sure?')">
            <i class="fa fa-trash" aria-hidden="true"></i> Delete
          </a>
        </div>
        <div class="pure-u-1-2 text-right">
          Asked by<br/>
          <b th:text="${question.owner.name}"></b><br/>
          on <span th:text="${question.getCreatedTime()}"></span>
        </div>
      </div>
    </div>
    <div th:if="not ${question.answers.isEmpty()}" id="answers">
      <h4><span th:text="${question.answers.size()}"></span> answers</h4>
      <div th:each="answer : ${question.answers}" class="answer">
        <p th:text="${answer.content}"></p>
        <div class="pure-g">
          <div th:if="${currentUser.id == answer.owner.id}" class="pure-u-1-2 text-left">
            <a th:href="@{'/question/answer/delete/' + ${answer.id}}"
               class="pure-button pure-button-primary" onclick="return confirm('Are you sure?')">
              <i class="fa fa-trash" aria-hidden="true"></i> Delete
            </a>
          </div>
          <div class="pure-u-1-2 text-right">
            Answered by<br/>
            <b th:text="${answer.owner.name}"></b><br/>
            on <span th:text="${answer.getCreatedTime()}"></span>
          </div>
        </div>
      </div>
      <form th:action="@{${requestURL}}" method="POST" id="answer-form" class="pure-form pure-form-stacked">
        <div th:if="${isAnswered}" class="pure-form-message success">
          <br/>
          <i class="fa fa-check-circle" aria-hidden="true"></i> Answer added successfully!
        </div>
        <div th:if="${answerErrorMessage}" class="pure-form-message error">
          <i class="fa fa-times-circle" aria-hidden="true"></i>
          <span th:text="${answerErrorMessage}"></span>
        </div>
        <br/>
        <label for="answer">Your answer</label>
        <textarea th:text="${answerContent}" id="answer" name="answer" rows="5"
                  placeholder="Write an elaborate solution here!"></textarea>
        <br/>
        <button type="submit" class="pure-button pure-button-primary">Answer</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>