@import "scrollbar";
@import "typography";
@import "layout";
@import "form";

body {
  color: #777;
  word-wrap: break-word;
}

footer {
  margin-top: 25px;
  padding: 5px;
  text-align: center;

  a {
    text-decoration: none;
  }
}

#main {
  min-height: 100%;
  padding: 25px 10%;
}

#no-data {
  color: #444;
}

.birthday-card,
.anniversary-card {
  background: #eee;
  border-radius: 3px;
  display: block;
  margin: 15px;
  padding: 10px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.birthday-card:hover,
.anniversary-card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

a.next,
a.prev {
  color: #1f1f1f;
  text-decoration: none;
}

#question,
#answers,
#questions .question {
  max-width: 600px;
  margin: auto;

  div.pure-g {
    font-size: 75%;
    margin: 15px 0;
  }
}

#answers,
#answer-form {
  margin-top: 20px;
  padding-top: 20px;
}

#answers {
  .answer:nth-child(odd) {
    background: #eee;
  }

  > .answer {
    margin-top: 15px;
    padding: 15px;
  }
}

#answers:first-child {
  margin-top: 0;
}

#questions {

  .question {
    display: block;
    margin: 15px auto;
    padding: 15px;

    > h4 > a {
      color: #666;
    }
  }

  .question:nth-child(even) {
    background: #eee;
  }
}

#polls {
  .poll {
    background: #efefef;
    border-radius: 3px;
    padding: 15px;
    margin: 10px;
    box-shadow: 2px 2px #ddd;
  }

  h4,
  form,
  .poll-stats,
  .poll-vote-form {
    margin: 10px;
  }

  form,
  .poll-stats,
  .poll-vote-form {
     font-size: 90%;
  }

  .poll-stats > span {
    margin-left: 5px;
  }
}

table#todo-tasks {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #444;

  .priority-0 {
    background: #fbffd8;
  }

  .priority-1 {
    background: #ffecd8;
  }

  .priority-2 {
    background: #ffd8d8;
  }

  .todo-action {

    > a,
    > button, > button:active, > button:hover {
      background: none;
      border: none;
      color: #444;
      margin-right: 10px;
      text-decoration: none;
    }
  }
}

#views {
  max-width: 600px;
  width: 90%;
  margin: auto;

  .view {
    display: block;
    margin: 15px auto;
    padding: 15px;

    div.pure-g {
      font-size: 75%;
      margin: 15px 0;
    }
  }

  .view:nth-child(even) {
    background: #eee;
  }
}