::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
  background: #000000;
}

::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #666666;
}

::-webkit-scrollbar-track:active {
  background: #333333;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

body {
  color: #777;
}

.error {
  color: #AA0012;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

#layout, #menu a, .menu-link {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

#layout {
  position: relative;
  left: 0;
  padding-left: 0;
}

#layout.active #menu {
  left: 250px;
  width: 250px;
}

#layout.active .menu-link {
  left: 250px;
}

.content {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 800px;
  margin-bottom: 50px;
  line-height: 1.6em;
}

.header {
  margin: 0;
  color: #333;
  text-align: center;
  padding: 2.5em 2em 0;
  border-bottom: 1px solid #eee;
}
.header h1 {
  margin: 0.2em 0;
  font-size: 3em;
  font-weight: 300;
}
.header h2 {
  font-weight: 300;
  color: #ccc;
  padding: 0;
  margin-top: 0;
}

.content-subhead {
  border-bottom: 1px solid #777;
  color: #888;
  font-weight: 300;
  margin: 0 auto 5vh;
  max-width: 480px;
  padding-bottom: 20px;
  text-align: center;
}

#menu {
  margin-left: -250px; /* "#menu" width */
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000; /* so the menu or its navicon stays above all content */
  background: #191818;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#menu #username {
  text-align: center;
  padding: 10px;
  margin: 10px auto;
}

#menu a {
  color: #999;
  border: none;
  padding: 0.5em 0 0.5em 0.5em;
}

#menu i.fa {
  min-width: 17px;
  margin: 5px;
}

#menu .pure-menu,
#menu .pure-menu ul {
  border: none;
  background: transparent;
}

#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
  border-top: 1px solid #333;
}

#menu .pure-menu-selected,
#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
  background: #333;
}

#menu .pure-menu-selected a {
  color: #fff;
}

#menu .pure-menu-heading {
  font-size: 110%;
  color: #1f8dd6;
  margin: 0;
}

#menu .pure-menu-subheading {
  font-size: 104%;
  color: #c7c7c7;
  margin: 10px 0 10px 10px;
}

.menu-link {
  position: fixed;
  display: block; /* show this only on small screens */
  top: 0;
  left: 0; /* "#menu width" */
  background: #000;
  background: rgba(0,0,0,0.7);
  font-size: 25px;
  z-index: 10;
  height: auto;
  padding: 0.8em;
}

.menu-link:hover, .menu-link:focus {
  background: #000;
}

.menu-link span {
  position: relative;
  display: block;
}

.menu-link span, .menu-link span:before, .menu-link span:after {
  background-color: #fff;
  width: 100%;
  height: 0.2em;
}

.menu-link span:before, .menu-link span:after {
  position: absolute;
  margin-top: -0.6em;
  content: " ";
}

.menu-link span:after {
  margin-top: 0.6em;
}

@media (min-width: 48em) {

  .header, .content {
    padding-left: 2em;
    padding-right: 2em;
  }

  #layout {
    padding-left: 250px; /* left col width "#menu" */
    left: 0;
  }
  #menu {
    left: 250px;
  }

  .menu-link {
    position: fixed;
    left: 250px;
    display: none;
  }

  #layout.active .menu-link {
    left: 250px;
  }
}

@media (max-width: 48em) {
  #layout.active {
    position: relative;
    left: 250px;
  }
}

footer {
  margin-top: 25px;
  padding: 5px;
  text-align: center;
}

footer a {
  text-decoration: none;
}

#main {
  min-height: 100%;
  padding: 25px;
}

#login-form, #upload-masters-form {
  margin: 10vh auto;
  max-width: 250px;
}

#no-data {
  color: #444;
}

.birthday-card, .anniversary-card {
  background: #eee;
  border-radius: 3px;
  display: block;
  margin: 15px;
  padding: 10px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.birthday-card:hover, .anniversary-card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

a.next, a.prev {
  color: #1f1f1f;
  text-decoration: none;
}