<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="base :: head"></head>
<body>
<div id="layout">
  <a th:replace="base :: sidebar-toggle"></a>
  <div th:replace="base :: sidebar"></div>

  <div id="main">
    <h2 th:replace="base :: content_title"></h2>
    <form th:action="@{/login}" method="POST" id="login-form" class="pure-form pure-form-stacked">
      <fieldset>
        <span th:if="${isShowingErrorBox}" class="pure-form-message error">
          <i class="fa fa-times-circle" aria-hidden="true"></i> Invalid login credentials!
        </span>
        <span th:if="${isShowingLogoutBox}" class="pure-form-message">
          <i class="fa fa-check-circle" aria-hidden="true"></i> You've been logged out!
        </span>
        <br/>
        <label for="username">Username</label>
        <input id="username" type="text" name="username" placeholder="john_cool">
        <br/>
        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="socool">
        <br />
        <button type="submit" class="pure-button pure-button-primary">Login</button>
      </fieldset>
    </form>
  </div>
</div>
</body>
</html>